* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

/* blur */
.blur-load {
  position: relative;
  background-size: cover;
  background-position: center;
}

.blur-load::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 2.5s infinite;
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2); /* add more blur intensity */
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.blur-load:nth-of-type(1) {
  background-image: url(photo/forest-small.png);
}

.blur-load:nth-of-type(2) {
  background-image: url(photo/mountains-small.png);
}

.blur-load.loaded::before {
  animation: none; /* Zaustavlja animaciju kada je slika uÄitana */
}

.blur-load.loaded > img {
  opacity: 1;
}

.blur-load > img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
